{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container" style="margin: 7% auto">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-success alert-dismissible">
                    <a href="{{ path('homepage') }}" type="button" class="close" data-dismiss="alert" aria-hidden="true">×</a>
                    <h4><i class="icon fa fa-check"></i>Повідомлення</h4>
                    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                    {% if targetUrl %}
                        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
